{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}PI Calculations{% endblock %}</h1>
{% endblock %}

{% block content %}
    Enter the quantity and select the type of PI material. Submit and the VALUE below will be current corp buyback pricing.<br>
    {% if value and value != "" %}<h3>VALUE: {{ value | numberFormat }} isk</h3>{% endif %}
    <form method="post">
        <div class="row">
            <div class="col">
                Quantity
            </div>
            <div class="col">
                Resource
            </div>
        </div>
        {% for i in range(0,6) %}
            <div class="row">
                <div class="col">
                    <input class="form-control" name="quantity{{ i }}" placeholder="Quantity">
                </div>
                <div class="col">
                    <select class="form-control" name="resource{{ i }}">
                    {% for resource in resources.keys() %}
                        <option value="{{ resource }}"> {{ resource }}</option>
                    {% endfor %}
                    </select>
                </div>
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}